.assignment-main-div {
 background-color: #eeeeee2c;
 position: absolute;
 width: 100%;
 height: 150%;
 top: 540%;
 z-index: 2;
}

.ass-01,
.ass-02,
.ass-03,
.ass-04,
.ass-05,
.ass-06 {
 width: 400px;
 height: 300px;
 position: absolute;
 background-color: rgb(236, 236, 236);
}

.ass-01 {
 position: absolute;
 top: 45%;
 left: 15%;
}

.ass-02 {
 position: absolute;
 top: 45%;
 left: 40%;
}

.ass-03 {
 position: absolute;
 top: 45%;
 left: 65%;
 align-items: center;
}

.ass-04 {
 position: absolute;
 top: 70%;
 left: 15%;
}

.ass-05 {
 position: absolute;
 top: 70%;
 left: 40%;
}

.ass-06 {
 position: absolute;
 top: 70%;
 left: 65%;
}

.line {
 height: 100%;
 width: 1%;
 position: absolute;
 left: 0%;
 top: 0%;
 background-color: #347bff;
}

.rect {
 height: 20%;
 width: 15%;
 position: absolute;
 left: -2%;
 top: 10%;
 background-color: #07006d;
}

.ass-header {
 position: absolute;
 left: 16%;
 top: 13%;
 font-weight: bolder;
}

.ass-header>h1 {
 color: black;
}

.ass-header>h3 {
 color: #347bff;
}

.ass-para {
 position: absolute;
 top: 40%;
 left: 16%;
 right: 6%;
}

.total-assignment {
 /* border: rgba(0, 13, 93, 1) 5px solid;
 border-radius: 10px;
 position: absolute;
 width: 80%;
 height: 10%;
 top: 95%;
 left: 10%;
 right: 10%;
 z-index: 2; */
}