.contact-main-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 800%;
  background-color: white;
}

.world-img {
  top: 15%;
  left: 30%;
  right: 0%;
  width: 40%;
  height: 40%;
  position: absolute;
  margin: auto;
}

.contact-details {
  color: rgb(0, 0, 0);
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 80%;

  position: absolute;
  top: 40%;
  left: 73%;
}

.contact-details>p:nth-child(1) {
  color: #0000ff;
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 150%;
  z-index: 10;
}

.contact-details>p:nth-child(4) {
  color: #0000ff;
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 150%;
  z-index: 5;
}

.contact-details>p:nth-child(7) {
  color: #0000ff;
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 150%;
}

.header {
  color: rgb(0, 0, 0);
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 120%;

  position: absolute;
  top: 17%;
  left: 5%;
  right: 62%;
}

#name {
  position: absolute;
  top: 30%;
  left: 5%;

  width: 30%;
  height: 5%;
  color: white;
}

#email {
  position: absolute;
  top: 40%;
  left: 5%;

  width: 30%;
  height: 5%;
  color: white;
}

#details {
  position: absolute;
  top: 50%;
  left: 5%;

  width: 30%;
  height: 15%;
  color: white;
}


#button {
  align-items: center;
  background-color: #0000ff;
  border: 2px solid #0000ff;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  height: 5%;
  position: absolute;
  top: 70%;
  left: 5%;
}

#button:focus {
  color: #171e29;
}

#button:hover {
  background-color: #0000ff;
  border-color: #0000ff;
  fill: #0000ff;
}

#button:active {
  background-color: #0000ff;
  border-color: #0000ff;
  fill: #0000ff;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

.contact-gray-rect {
  position: absolute;
  top: 10%;
  left: 45%;
  width: 50%;
  height: 70%;
  background-color: #ffffffcf;
}


/* Contact 320px media quary */
@media (max-width: 320px) {
  .contact-main-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1300%;
    background-color: rgb(255, 255, 255);
  }

  .world-img {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    width: 100%;
    margin: auto;
  }

  .contact-details {
    color: rgb(0, 0, 0);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 73%;
  }

  .contact-details>p:nth-child(1) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    z-index: 10;
    position: absolute;
    left: -140%;
    top: 130%;

    display: none;
  }

  .address {
    display: none;
  }

  .hours {
    display: none;
  }

  .contact {
    display: none;
  }

  .contact-details>p:nth-child(4) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    z-index: 5;
    position: absolute;
    left: -90%;
    top: 130%;

    display: none;
  }

  .contact-details>p:nth-child(7) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    position: absolute;
    left: 5%;
    top: 130%;

    display: none;
  }

  .header {
    color: rgb(0, 0, 0);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 80%;
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 35%;
    right: 5%;
    left: 5%;
  }

  #name {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    z-index: 2;
  }

  #email {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    z-index: 2;
  }

  #details {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 90%;
    height: 15%;
    color: rgba(255, 255, 255, 0);
    z-index: 2;
  }


  #button {
    align-items: center;
    background-color: #0000ff;
    border: 2px solid #0000ff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 90%;
    height: 5%;
    position: absolute;
    top: 90%;
    left: 5%;
  }

  #button:focus {
    color: #171e29;
  }

  #button:hover {
    background-color: #0000ff;
    border-color: #0000ff;
    fill: #0000ff;
  }

  #button:active {
    background-color: #0000ff;
    border-color: #0000ff;
    fill: #0000ff;
  }

  @media (min-width: 768px) {
    .button-58 {
      min-width: 170px;
    }
  }

  .contact-gray-rect {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 70%;
    background-color: #ffffffde;
  }
}


/************************** Contact 375px media quary ******************************/
@media (max-width: 375px) {
  .contact-main-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1300%;
    background-color: rgb(255, 255, 255);
  }

  .world-img {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    width: 100%;
    margin: auto;
  }

  .contact-details {
    color: rgb(0, 0, 0);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 73%;
  }

  .contact-details>p:nth-child(1) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    z-index: 10;
    position: absolute;
    left: -140%;
    top: 130%;

    display: none;
  }

  .address {
    display: none;
  }

  .hours {
    display: none;
  }

  .contact {
    display: none;
  }

  .contact-details>p:nth-child(4) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    z-index: 5;
    position: absolute;
    left: -90%;
    top: 130%;

    display: none;
  }

  .contact-details>p:nth-child(7) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    position: absolute;
    left: 5%;
    top: 130%;

    display: none;
  }

  .header {
    color: rgb(0, 0, 0);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 80%;
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 35%;
    right: 5%;
    left: 5%;
  }

  #name {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    z-index: 2;
  }

  #email {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    z-index: 2;
  }

  #details {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 90%;
    height: 15%;
    color: rgba(255, 255, 255, 0);
    z-index: 2;
  }


  #button {
    align-items: center;
    background-color: #0000ff;
    border: 2px solid #0000ff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 90%;
    height: 5%;
    position: absolute;
    top: 90%;
    left: 5%;
  }

  #button:focus {
    color: #171e29;
  }

  #button:hover {
    background-color: #0000ff;
    border-color: #0000ff;
    fill: #0000ff;
  }

  #button:active {
    background-color: #0000ff;
    border-color: #0000ff;
    fill: #0000ff;
  }

  @media (min-width: 768px) {
    .button-58 {
      min-width: 170px;
    }
  }

  .contact-gray-rect {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 70%;
    background-color: #ffffffde;
  }
}


/************************** Contact 425px media quary ******************************/
@media (max-width: 425px) {
  .contact-main-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1300%;
    background-color: rgb(255, 255, 255);
  }

  .world-img {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    width: 100%;
    margin: auto;
  }

  .contact-details {
    color: rgb(0, 0, 0);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 73%;
  }

  .contact-details>p:nth-child(1) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    z-index: 10;
    position: absolute;
    left: -140%;
    top: 130%;

    display: none;
  }

  .address {
    display: none;
  }

  .hours {
    display: none;
  }

  .contact {
    display: none;
  }

  .contact-details>p:nth-child(4) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    z-index: 5;
    position: absolute;
    left: -90%;
    top: 130%;

    display: none;
  }

  .contact-details>p:nth-child(7) {
    color: #0000ff;
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    position: absolute;
    left: 5%;
    top: 130%;

    display: none;
  }

  .header {
    color: rgb(0, 0, 0);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 80%;
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 35%;
    right: 5%;
    left: 5%;
  }

  #name {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    z-index: 2;
  }

  #email {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 5%;
    color: white;
    z-index: 2;
  }

  #details {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 90%;
    height: 15%;
    color: rgba(255, 255, 255, 0);
    z-index: 2;
  }


  #button {
    align-items: center;
    background-color: #0000ff;
    border: 2px solid #0000ff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 90%;
    height: 5%;
    position: absolute;
    top: 90%;
    left: 5%;
  }

  #button:focus {
    color: #171e29;
  }

  #button:hover {
    background-color: #0000ff;
    border-color: #0000ff;
    fill: #0000ff;
  }

  #button:active {
    background-color: #0000ff;
    border-color: #0000ff;
    fill: #0000ff;
  }

  @media (min-width: 768px) {
    .button-58 {
      min-width: 170px;
    }
  }

  .contact-gray-rect {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 70%;
    background-color: #ffffffde;
  }
}