.goals-main-rect {
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
   
    top: 400%;
}

.goals-h1 {
    color: #cfcfcf;
 font-family: "Limelight", sans-serif;
 font-weight: 50;
 font-style: normal;
 font-size: 350%;

 position: absolute;
 top: 10%;
 left: 10%;
 letter-spacing: 1vw;
}

.goals-line-1 {
    position: absolute;
    width: 58%;
    height: 0.2%;
    background-color: #000000;

    top: 20%;
    left: 25%;
}

.goals-main-rect>div>:nth-child(1) {
    color: #000000;
    position: absolute;
    left: 10%;
    top: 18%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 600%;
}

.goals-main-rect>div>:nth-child(2) {
    color: #000000;
    position: absolute;
    left: 25%;
    top: 21.5%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 130%;
}

.goals-main-rect>div>:nth-child(3) {
    color: #000000;
    position: absolute;
    left: 42%;
    top: 21.5%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 100%;
}

.goals-main-rect>div>:nth-child(4) {
    color: #000000;
    position: absolute;
    left: 10%;
    top: 48%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 600%;
}

.goals-main-rect>div>:nth-child(5) {
    color: #000000;
    position: absolute;
    left: 25%;
    top: 51.5%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 130%;
}

.goals-main-rect>div>:nth-child(6) {
    color: #000000;
    position: absolute;
    left: 42%;
    top: 51.5%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 100%;
}

.goals-line-2 {
    position: absolute;
    width: 58%;
    height: 0.3%;
    background-color: #000000;

    top: 50%;
    left: 25%;
}

.goals-main-rect>div>:nth-child(7) {
    color: #000000;
    position: absolute;
    left: 10%;
    top: 78%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 600%;
}

.goals-main-rect>div>:nth-child(8) {
    color: #000000;
    position: absolute;
    left: 25%;
    top: 81%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 130%;
}

.goals-main-rect>div>:nth-child(9) {
    color: #000000;
    position: absolute;
    left: 42%;
    top: 81%;
   
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 100%;
}

.goals-line-3 {
    position: absolute;
    width: 58%;
    height: 0.3%;
    background-color: #000000;

    top: 80%;
    left: 25%;
}