@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Zetta:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Limelight&family=Monoton&family=Oregano:ital@0;1&family=Pacifico&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Limelight&family=Monoton&family=Oregano:ital@0;1&family=Pacifico&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Limelight&family=Monoton&family=Oregano:ital@0;1&family=Pacifico&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
:host {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #a3a3a3;
}

section>header {
  position: fixed;
  z-index: 1000;
}

body {
  justify-content: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 300vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: #ffffff;
  z-index: 1000;
}

.navbar {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0 5.5%;
  font-family: "Audiowide", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: smaller;
  z-index: 1000;
}

.navbar:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  width: 40%;
  background: rgb(255, 0, 0);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .6s linear;
}

.navbar:hover::before {
  transform: scaleX(1);
  transform-origin: left;

}

.slide-bar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.slide {
  column-gap: 3vh;
}

/* Hompage Body Section */

.homeBody {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.homepage-img {
  height: 90%;
  width: 27%;
  top: 0%;
  left: 60%;
  position: absolute;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 20%;
  animation-range-end: 100%;
}

.div-1 {
  background-color: #ffffffab;
  position: absolute;
  height: 90%;
  width: 27%;
  top: 0%;
  left: 60%;
}


.full-name {
  color: #000000;
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 250%;

  left: 15%;
  letter-spacing: 0.3vw;
  position: absolute;
  top: 26%;
}

.main-line {
  background-color: #000000;
  width: 4%;
  height: 0.6%;
  position: absolute;
  left: 15.4%;
  top: 41%;
}

.home-page-para {
  color: #000000;
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;

  position: absolute;
  left: 15.3%;
  top: 45%;
}


.homeBody>button {
  --b: 4px;
  --s: .45em;
  --color: #000000;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  top: 75%;
  left: 18.5%;
  position: absolute;

  font-family: "Audiowide", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: smaller;
  letter-spacing: 0.1vw;
  height: 6%;
}

.homeBody>button:hover,
.homeBody>button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.homeBody>button:active {
  background: var(--color);
  color: #ffffff;
}

.circle-2024 {
  position: relative;
  width: 180px;
  height: 180px;
  /* background-color: #00ffaa; */
  border-radius: 50%;
  top: 84.5%;
  left: 86.5%;
  animation: rotate 35s infinite linear;
}

.circle-2024>div>p {
  width: 100%;
  height: 100%;
  position: absolute;

  color: #000000;
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 80%;
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 90px;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}