.service-main-div {
 position: absolute;
 width: 100%;
 height: 150%;
 background-color: rgb(255, 255, 255);
 z-index: 1;

 top: 250%;
}

.mobile-app-rect {
    position: absolute;
    height: 10%;
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    left: 10%;
    top: 22%;
}

.web-rect {
    position: absolute;
    height: 10%;
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    left: 10%;
    top: 36%;
}

.ui-rect {
    position: absolute;
    height: 10%;
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 10%;
    top: 50%;
    
}

.service {
 color: #000000;
 font-family: "Limelight", sans-serif;
 font-weight: 50;
 font-style: normal;
 font-size: 250%;

 position: absolute;
 top: 14%;
 left: 9%;
 letter-spacing: 1vw;
}

.parahead {
 color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 150%;

 position: absolute;
 left: 43%;
 letter-spacing: 1vw;

 position: absolute;
 top: 18%;
}

.service-para {
    color: #000000;
 position: absolute;
 left: 55%;
 top: 24%;

 font-family: "Lexend Giga", sans-serif;
 font-optical-sizing: auto;
 font-weight: weight;
 font-style: normal;
 font-size: 90%;
}

.Mad {
color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 100%;

 position: absolute;
 left: 20%;
 top: 30%;
}

.ptoject {
 position: absolute;
 left: 20%;
 top: 50%;
}

.mobile-img {
 position: absolute;
 left: 5%;
 top: 30%;
}

.webD {
 color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 100%;

 position: absolute;
 left: 20%;
 top: 30%;
}

.project-web {
 position: absolute;
 left: 20%;
 top: 50%;
}

.web-img {
    position: absolute;
 left: 5%;
 top: 30%;
}

.uiux {
 color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 100%;

 position: absolute;
 left: 20%;
 top: 30%;
}

.uiProject {
 position: absolute;
 left: 20%;
 top: 50%;
}

.ui-img {
    position: absolute;
    left: 5%;
    top: 30%; 
}

.project-div {
    top: 50%;
    left: 43%;
    position: absolute;
}

.cliebt-div {
    top: 50%;
    left: 59.5%;
    position: absolute;
}

.country-div {
    top: 50%;
    left: 75%;
    position: absolute;
}

.project-count {
    color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 150%;
}

.client-count {
    color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 150%;
}

.Country-count {
    color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: bold;
 font-style: normal;
 font-size: 150%;
}

.project-complete {
    color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: normal;
 font-style: normal;
 font-size: 80%;
}

.happy-client {
    color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: normal;
 font-style: normal;
 font-size: 80%;
}

.country {
    color: #000000;
 font-family: "Lexend Zetta", sans-serif;
 font-optical-sizing: auto;
 font-weight: normal;
 font-style: normal;
 font-size: 80%;
}

.p-line {
    width: 120%;
    height: 2%;
    position: absolute;
    background-color: #000000;
}

.cl-line {
    width: 180%;
    height: 2%;
    position: absolute;
    background-color: #000000;
}

.c-line {
    width: 160%;
    height: 2%;
    position: absolute;
    background-color: #000000;
}