.skill-h1 {
 color: #cfcfcf;
 font-family: "Limelight", sans-serif;
 font-weight: 50;
 font-style: normal;
 font-size: 350%;

 position: absolute;
 top: 80%;
 left: 10%;
 letter-spacing: 1vw;
}

.skill-h2 {
    position: absolute;
    transform: rotate(90deg);

    color: #000000;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 80%;
    letter-spacing: 2vw;

    top: 82%;
    left: 0;
    right: 98%;
}