.skill-h1 {
 color: #cfcfcf;
 font-family: "Limelight", sans-serif;
 font-weight: 50;
 font-style: normal;
 font-size: 350%;

 position: absolute;
 top: 80%;
 left: 10%;
 letter-spacing: 1vw;
}

.skill-h2 {
    position: absolute;
    transform: rotate(90deg);

    color: #000000;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 80%;
    letter-spacing: 2vw;

    top: 82%;
    left: 0;
    right: 98%;
}

.skill-01 {
    position: absolute;
    background-color: #000000;
    top: 90%;
    left: 40%;
    width: 5%;
    height: 7%;
    border-radius: 50%;
}

.skill-02 {
    position: absolute;
    background-color: #000000;
    top: 90%;
    left: 50%;
    width: 5%;
    height: 7%;
    border-radius: 50%;
}

.skill-03 {
    position: absolute;
    background-color: #000000;
    top: 90%;
    left: 60%;
    width: 5%;
    height: 7%;
    border-radius: 50%;
}

.skill-04 {
    position: absolute;
    background-color: #000000;
    top: 90%;
    left: 70%;
    width: 5%;
    height: 7%;
    border-radius: 50%;
}

.skill-05 {
    position: absolute;
    background-color: #000000;
    top: 90%;
    left: 80%;
    width: 5%;
    height: 7%;
    border-radius: 50%;
}

.skill-div-ii {
    position: absolute;
    background-color: #ffffff;
    top: 5%;
    left: 5%;
    padding: 0%;
    right: 0%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    z-index: 2;
}