.work-main-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 400%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    height: 63%;
    top: 25%;
    position: absolute;
    background-color: #707070;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
}

.card {
    /* top: 35%;
    left: 43%;
    position: absolute; */
    width: 320px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #dadada;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0B009A;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #0B009A;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #ffffff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #ffffff 4px;
    border: #ffffff 4px solid;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0B009A;
}

.project-name {
    font-size: 20px;
    font-weight: bolder;
    color: #333;
}

.description {
    font-size: 16px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #0B009A;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.button:hover {
    background-color: #07006d;
}